{layout name='layout'}
<form class="form-inline definewidth m20" action="{:U()}" method="get">
    <a href='{:U('add')}' class="btn btn-success" id="addnew">新增</a>
    <a href="{:U('saveToConfig')}" class="btn" >保存到配置</a>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th width="200">品牌名称</th>
        <th width="50">状态</th>
        <th width="">操作</th>
    </tr>
    </thead>
        {foreach name='rows' item='row'}
         <tr>
            <td> {$row.name} </td>
            <td>
            {if condition="$row.status eq 0"}正常{else}隐藏{/if}
            </td>
            <td>
                <a href="{:U('edit')}?id={$row.id}">编辑</a>|
                <a data-confirm="確定刪除？" href="{:U('del')}?id={$row.id}">刪除</a>                
            </td>
        </tr>
        {/foreach}
</table>
<script>
$(document).ready(function(){
    $('[data-confirm]').click(function(){
        var text = $(this).data('confirm');
        if(!confirm(text)) return false;
    });
});
</script>