{extend name="index@view/public/base"/}
{block name="title"}
  <title>刊登商品-8591寶物交易網-香港站</title>
  <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/css/public/icons.css">
  <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/css/publish/publish_main.css">
{/block}

{block name="head"}
  {include file="index@view/public/head_lite"}
  <div class="content-width publish-nav clearfix">
    <div class="p-stp">
      <b>1</b>
      <span>選擇商品分類</span>
    </div>
    <div class="p-stp p-now">
      <b>2</b>
      <span>填寫商品詳細信息</span>
    </div>
    <div class="p-stp">
      <b>3</b>
      <span>刊登成功</span>
    </div>
    <div class="justify-fix"></div>
  </div>
{/block}
{block name="content"}
  <div class="content-width step2-box" data-tid="{$type}">
    <div class="sb-line clearfix">
      <div class="sb-l-name">已選分类：</div>
      <div class="sb-l-val">
        <span>{$type_name}</span>
        <a style="margin-left:12px;color: #1882ef;" href="{:U('goods.publish/select@i')}?game_id={$game_id}&server_id={$server_id}&type={$type}">[返回修改]</a>
      </div>
    </div>
    
    <div class="sb-line clearfix">
      <div class="sb-l-name"><span class="sb-need">*</span>品牌：</div>
      <div class="sb-l-val">
        <select class="sb-control sb-send-time">
          <option value="0">请选择</option>
          {volist name="transfer_time_list" id="v"}
          <option value="{$key}">{$v}</option>
          {/volist}
        </select>
      </div>
    </div>
    <div class="sb-line clearfix">
      <div class="sb-l-name"><span class="sb-need">*</span>商品標題：</div>
      <div class="sb-l-val">
        <input type="text" class="sb-control sb-title" placeholder="40個字以內" maxlength="40">
        （<span class="now-tle-num">0字</span> / 40字）
      </div>
    </div>
    <div class="sb-line clearfix">
      <div class="sb-l-name"><span class="sb-need">*</span>價格：</div>
      <div class="sb-l-val">
        <div class="hk-fl"><input type="number" class="sb-control sb-control-md sb-price" placeholder="10元~200,000元">元</div>
        <div class="ub-tip"><span class="ub-icon ub-e-icon"></span>價格在10~200,000元之間</div>
      </div>
    </div>

    <div class="sb-line clearfix">
      <div class="sb-l-name"><span class="sb-need">*</span>庫存：</div>
      <div class="sb-l-val">
        <div class="hk-fl"><input type="number" class="sb-control sb-control-md sb-num" placeholder="件數">件</div>
        <div class="ub-tip"><span class="ub-icon ub-e-icon"></span>價格在10~200,000元之間</div>
      </div>
    </div>
    <div class="sb-line clearfix">
      <div class="sb-l-name"><span class="sb-need">*</span>商品圖檔：</div>
      <div class="sb-l-val">
        <p class="sb-img-tip">上傳商品圖檔，提高關注度有利於出售，最多可上傳<span style="color:#ff4e00;">15張</span>圖檔。</p>
        <div class="img-box clearfix">
          <div class="img-item"></div>
          <div class="img-item"></div>
          <div class="img-item"></div>
          <div class="img-item"></div>
          <div class="img-item"></div>
        </div>
        <div class="add-img">添加更多</div>
      </div>
    </div>
    <div class="sb-line clearfix">
      <div class="sb-l-name"><span class="sb-need">*</span>商品詳情：</div>
      <div class="sb-l-val">
        <textarea class="sb-content" placeholder="必填項"></textarea>
      </div>
    </div>
    <div class="hk-btn hk-orange-btn publish-submit center-block" data-success="{:U('goods.publish/complete@i')}">提交刊登</div>
  </div>
  {include file="index@view/public/img_gallery"}
  <input type="hidden" id="submitUrl" value="{:U('goods.publish/publish@i')}">
{/block}
{block name="foot"}
  {include file="index@view/public/foot"}
  <script>
    seajs.use('src/publish/step2',function(){});
  </script>
{/block}