<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/admin/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/admin/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/admin/css/chosen.min.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/admin/css/jquery.cxcolor.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/admin/css/style.css" />
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/jquery.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/ckform.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/plugins/laydate/laydate.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/jquery.chosen.min.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/jquery.cxcolor.min.js"></script>
    <script type="text/javascript" src="{$Think.config.static_url}/admin/js/common.js"></script>

 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
{__CONTENT__}
</body>
</html>