{layout name='layout'}
<form action="{:U()}" method="post" class="definewidth m20">
<input type="hidden" name="id" value="{$row.id}" />
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">ID</td>
            <td>
                {present name="row.id"}
                <input type="hidden" name="id" value="{$row.id}" />{$row.id}
                {else/}
                自動生成
                {/present}
            </td>
        </tr>
        <tr>
            <td class="tableleft">點卡名稱</td>
            <td><input type="text" name="name" value="{$row.name}" /></td>
        </tr>
        <tr>
            <td class="tableleft">關聯遊戲</td>
            <td>
                <select name="relation_game_id[]" multiple='multiple' size="10" class="chosen">
                    {foreach name='games' item='game'}
                    <option value="{$game.id}" {in name='game.id' value='$row["relation_game_id"]'}selected{/in}>{$game.name}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td class="tableleft">相关属性</td>
            <td>
                <label><input type="checkbox" name="is_hidden" value="1" {eq name="row.is_hidden" value="1" }checked{/eq} /> 隱藏</label>
                <label><input type="checkbox" name="is_deny_publish" value="1" {eq name="row.is_deny_publish" value="1" }checked{/eq} /> 禁止刊登</label>
            </td>
        </tr>
        <tr>
            <td class="tableleft">點卡圖片</td>
            <td><input type="text" name="image" value="{$row.image}" /></td>
        </tr>
        <tr>
            <td class="tableleft">顯示排序</td>
            <td><input type="number" name="taxis" value="{$row.taxis}" /></td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button>
                <a href='{:U("index")}' type="button" class="btn btn-success" name="backid">返回列表</a>
            </td>
        </tr>
    </table>
</form>