{eq name="ft_show_more" value="1"}
<div class="introduce-aq">
  <div class="content-width clearfix">
    <div class="iaq-1"></div>
    <div class="iaq-2"></div>
    <div class="iaq-3"></div>
  </div>
</div>
<div class="index-foot content-width">
  <dl class="ft-dl">
    <dt>新手上路</dt>
    <dd><a href="#" target="_blank">免費註冊</a></dd>
    <dd><a href="#" target="_blank">買賣交易流程</a></dd>
    <dd><a href="#" target="_blank">付款方式</a></dd>
    <dd><a href="#" target="_blank">賣家出售申請</a></dd>
  </dl>
  <dl class="ft-dl">
    <dt>交易保障</dt>
    <dd><a href="#" target="_blank">保證金會員</a></dd>
    <dd><a href="#" target="_blank">承諾交易時間</a></dd>
    <dd><a href="#" target="_blank">帳號登入安全鎖</a></dd>
    <dd><a href="#" target="_blank">交易支付密碼</a></dd>
  </dl>
  <dl class="ft-dl">
    <dt>售後服務</dt>
    <dd><a href="#" target="_blank">帳號交易安全</a></dd>
    <dd><a href="#" target="_blank">交易申訴</a></dd>
    <dd><a href="#" target="_blank">申請取消交易</a></dd>
    <dd><a href="#" target="_blank">提款相關</a></dd>
  </dl>
  <dl class="ft-dl ft-special">
    <dt>客戶服務</dt>
    <dd>客服電話:（02）5579-8591</dd>
    <dd style="margin:8px 0;">服務時間：週一至週五10:00-22:30
                週六至週日15:00-22:00</dd>
    <dd>客服郵箱：xx@8591.com</dd>
  </dl>
  <div class="justify-fix"></div>
</div>
{/eq}
<div class="content-width">
  <p class="friend-link">免責聲明｜服務條款｜隱私權聲明｜數字經銷商｜第三方支付新聞｜ 廣告刊登｜合作提案｜關於我們｜新聞剪輯 ｜投資者資訊 ｜社會公益 </p>
  <p class="friend-link" style="border:0;">香港591｜591租屋｜591售屋｜591裝潢設計｜8891中古車網｜汽車社群｜8891新車網｜101原創｜101名品會｜518人力銀行｜518外包網｜518黃頁｜518找打工</p>
  <p class="friend-link" style="border:0;">Copyright © 2004 - 2015 by Addcn Technology Co., Ltd. All Rights reserved.</p>
</div>