<div class="img-gallery">
  <h3 class="gallery-tle">插入圖檔<span class="gallery-close">×</span></h3>
  <form class="gallery-up" target="uploadiframe" method="POST" enctype="multipart/form-data" action="{:U('/goods.image/upload@i')}?callback=window.parent.onUploadSuccess&type=1">上傳圖檔
    <input type="file" id="uploadBtn" name="image">
    <span>（圖檔容量不超過3M，畫素大小不限制）</span>
    <iframe id="uploadIframe" name="uploadiframe" style="display:none;"></iframe>
  </form>
  <p style="margin:5px 10px 10px;color:#c70000;"><span class="ub-icon ub-i-icon"></span>注意：圖檔集內圖檔有效使用時間為一年，超過有效使用時間的圖檔將被系統自動刪除。</p>
  <div class="gallery-list">
    <div class="g-l-item">
      <div class="g-l-imgbox"><img src="{$Think.config.static_url}/images/index/bm.png"></div>
      <p>
        <a href="javascript:;" class="g-c-sel" data-link="{$Think.config.static_url}/images/index/111.png">選擇</a>
        <a href="javascript:;" class="g-c-del" data-link="{$Think.config.static_url}/images/index/111.png">刪除</a>
      </p>
    </div>
  </div>
  <div class="gallery-ft hk-page"></div>
</div>
<div class="img-shadow"></div>
<div class="img-tip">插入成功！</div>
<link rel="stylesheet" type="text/css" href="{$Think.config.static_url}/css/public/img_gallery.css">