<div class="uc-menu">
  <dl class="ucm-dl">
    <dt>我是買家</dt>
    <dd><a href="{:U('/cart@i')}">購物車</a></dd>
    <dd><a href="{:U('/buyer.trade@i')}">我購買的商品</a></dd>
    <dd><a href="{:U('/buyer.qa@i')}">賣家的回答</a></dd>
  </dl>
  <dl class="ucm-dl">
    <dt>我是賣家</dt>
    <dd><a href="{:U('/seller.trade@i')}">交易進行中</a></dd>
    <dd><a href="{:U('/seller.qa@i')}">買家的提問</a></dd>
    <dd><a href="{:U('/goods@i')}">待出售商品</a></dd>
    <dd><a href="{:U('goods.publish/select@i')}">免費刊登</a></dd>
  </dl>
  <dl class="ucm-dl">
    <dt>帳戶管理</dt>
    <dd><a href="{:U('money/drawn@i')}">提款</a></dd>
    <dd><a href="{:U('money/detail@i')}">帳戶明細</a></dd>
  </dl>
  <dl class="ucm-dl">
    <dt>會員資料</dt>
    <dd><a href="{:U('/profile@i')}">修改資料</a></dd>
    <dd><a href="{:U('safe/iplock@i')}">安全鎖列表</a></dd>
  </dl>
  <dl class="ucm-dl">
    <dt>客服中心</dt>
    <dd><a href="{:U('appeal/post@i')}">我要申訴</a></dd>
    <dd><a href="{:U('/appeal@i')}">客服中心回覆</a></dd>
  </dl>
</div>

