{layout name='layout'}
<form action="{:U()}" method="post" class="definewidth m20">
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">當前密碼</td>
            <td><input type="password" name="current_password" value=""/></td>
        </tr>
        <tr>
            <td class="tableleft">新密碼</td>
            <td><input type="password" name="password" value=""/></td>
        </tr>
        <tr>
            <td class="tableleft">再次輸入</td>
            <td><input type="password" name="password_confirm" value=""/></td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button>
                <!-- <a href="{:U('index')}" class="btn btn-success" name="backid" id="backid">返回列表</a> -->
            </td>
        </tr>
    </table>
</form>
