{layout name='layout'}
<form class="form-inline definewidth m20" action="{:U()}" method="get">
    <a href="{:U('add')}" type="button" class="btn btn-success" id="addnew">新增</a>
    <a href="{:U('cache')}" type="button" class="btn" id="addnew">更新权限</a>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th width="100">ID</th>
        <th width="200">分组名</th>
        <th>操作</th>
    </tr>
    </thead>
        {foreach name='rows' item='row'}
         <tr>
            <td>{$row.id}</td>
            <td>{$row.name}</td>
            <td>
                <a href="{:U('edit')}?id={$row.id}">编辑</a>    
                <a data-confirm="確定刪除？" href="{:U('del')}?id={$row.id}">刪除</a>                
            </td>
        </tr>
        {/foreach}
</table>
<script>
$(function(){
    $('[data-confirm]').click(function(){
        var text = $(this).data('confirm');
        if(!confirm(text)) return false;
    });
});
</script>