{layout name='layout'}
<form role="form" class="form-inline definewidth m20" action="" method="get">
    搜索：<select name='search_type' class="chosen" style="width: 80px;">
        <option value="">請選擇</option>
        <option value="user_id">會員編號</option>
        <option value="account">會員帳號</option>
        <option value="login_ip">登錄IP</option>
    </select>
    <input type="text" size="20" name='keyword'>
    狀態：
    <select name='status' class="chosen" style="width: 100px;">
        <option value="">請選擇</option>
        {foreach name="status" key="key" item="faild_cause"}
        <option value="{$key}" {eq name="Think.get.status" value="$key"}selected{/eq}>{$faild_cause}</option>
        {/foreach}
    </select>
    登錄時間：
    <input style="width:140px;" type="text" name='start_time' value="{$Think.get.start_time}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'}).skin('qianhuang');" /> 到
    <input style="width:140px;" type="text" name='end_time' value="{$Think.get.end_time}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>
    <input type="submit" value="搜索" class='btn'>
</form>
<br>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>會員編號</th>
        <th>會員帳號</th>
        <th>會員姓名</th>
        <th>信用</th>
        <th>登錄時間&IP</th>
        <th>浏览器语言</th>
        <th>客户端</th>
        <th>地区</th>
        <th>狀態</th>
        <th>操作</th>
    </tr>
    </thead>
    {foreach name='rows' item='row'}
       <tr>
            <td>{$row.user_id}</td>
            <td>{$row.account}</td>
            <td>{$row.realname}</td>
            <td>0</td>
            <td>{$row.login_time}<br/>{$row.login_ip}</td>
            <td>{$row.accept_language}</td>
            <td>{$row.login_client}</td>
            <td>{$row.login_country}</td>
            <td>{$status[$row.faild_cause]?$status[$row.faild_cause]:'成功登入'}</td>
            <td>
                <input type="checkbox" name="id[]" value="{$row.id}">
            </td>
        </tr>
        {/foreach}
</table>
<div width='50%'>{$page}</div>

<script>

</script>