{layout name='layout'}
<form action="{:U()}" method="post" class="definewidth m20">
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">工号</td>
            <td>
                {present name='row.id'}
                <input type="hidden" name="id" value="{$row.id}" />{$row.id}
                {else/}
                <input type="text" name="id" value="" />
                {/present}
            </td>
        </tr>
        <tr>
            <td class="tableleft">密码</td>
            <td><input type="password" name="login_pwd"/></td>
        </tr>
        <tr>
            <td class="tableleft">重输</td>
            <td><input type="password" name="login_pwd_confirm"/></td>
        </tr>
        <tr>
            <td class="tableleft">姓名</td>
            <td><input type="text" name="realname" value="{$row.realname}"/></td>
        </tr>
        <tr>
            <td class="tableleft">昵称</td>
            <td><input type="text" name="nickname" value="{$row.nickname}"/></td>
        </tr>
        <tr>
            <td class="tableleft">权限组</td>
            <td>
                <select name="group_id">
                    {foreach name='groups' key='group_id' item='group_name'}
                    <option value="{$group_id}" {eq name='row.group_id' value='$group_id'}selected{/eq}>{$group_name}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button>
                <a href="{:U('index')}" class="btn btn-success" name="backid" id="backid">返回列表</a>
            </td>
        </tr>
    </table>
</form>
